<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.itworks.firstaid"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="13"
              android:targetSdkVersion="21"
            />

    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- The following two permissions are not required, but are
         recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature android:glEsVersion="0x00020000"
            android:required="true" />

    <application android:label="@string/app_name"
                 android:name="com.itworks.firstaid.MyApplication"
                 android:theme="@android:style/Theme.Holo.Light.NoActionBar">

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <activity android:name="com.itworks.firstaid.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.itworks.firstaid.StartActivity"
                  android:screenOrientation="portrait"/>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyCwmE9tgrPA-VsemhZ4O6PRjnh-KTILQzA" />
    </application>
</manifest> 
